
/*This is CSS*/
h1 {
  /*changing font of h1*/
  font-family: Lucida Calligraphy;
}

p {
  font-family: Brush Script MT;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: rgba(22, 78, 14, 0.7);
}
#title {
  text-align: center;
  margin: 0;
  font-weight: 600;
  padding: 10px;
  font-size: 2em;
}

#description {
  text-align: center;
  margin: 0;
  font-weight: 500;
  padding-bottom: 2px;
  font-size: 1em;
}
